<main id="app-container" class="main">
  <div class="grid grid-cols-12 bg-slate-100 h-fit">
    <div
      class="col-span-12 hidden md:block md:col-span-3 row-span-1 bg-white md:border-[1px] p-4 relative"
    >
      <h1 class="text-[20px] font-bold text-gray-800">Patient Info</h1>

      <div class="py-4 flex items-center px-2 gap-5">
        <div>
          <label for="name" class="text-[14px] text-gray-500 font-semibold"
            >Age:</label
          >
          <p class="font-semibold text-[16px] text-gray-800">26 Yrs</p>
        </div>
        <span> | </span>
        <div>
          <label for="name" class="text-[14px] text-gray-500 font-semibold"
            >Gender:</label
          >
          <p class="font-semibold text-[16px] text-gray-800">Male</p>
        </div>
      </div>
      <hr />
      <div class="py-4">
        <div>
          <label for="name" class="text-[18px] text-gray-800 font-semibold"
            >Previous History:</label
          >
          <p class="font-normal text-[14px] text-gray-800 mt-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            minima, aperiam atque quos temporibus harum debitis dolorum possimus
            officiis reiciendis.
          </p>
        </div>
      </div>
      <hr />

      <div class="absolute bottom-0 w-full left-0 box-border">
        <button
          class="bg-gray-200 text-gray-800 py-3 text-center rounded-md w-full"
        >
          Back to Dashboard
        </button>
      </div>
    </div>

    <div class="col-span-12 md:col-span-5 h-full">
      <div
        class="bg-white w-full min-h-[80vh] md:min-h-[85vh] md:border-[1px] relative"
      >
        <div
          class="w-full md:p-4 p-3 box-border border-b-[1px] border-gray-300 bg-gray-100 flex gap-5"
        >
          <div
            class="md:w-[50px] w-[40px] md:h-[50px] h-[40px] rounded-md bg-gray-300 flex justify-center items-center"
          >
            MR
          </div>
          <div>
            <h2 class="md:text-[18px] text-[16px] font-semibold text-gray-800">
              Mofizur Rahman
            </h2>
            <p class="text-[12px] text-gray-500">Patient code : SG325FG4787T</p>
          </div>
        </div>
        <app-join-modal
          *ngIf="isJoinModalVisible"
          (joinChannel)="handleJoinChannel()"
        ></app-join-modal>
        <app-remote-stream #remoteStreamsContainer></app-remote-stream>
        <app-local-stream
          *ngIf="isLocalStreamVisible"
          (leaveChannel)="handleLeaveChannel()"
        ></app-local-stream>
      </div>
      <div
        class="md:border-[1px] mt-1 md:mt-3 bg-white h-[90px] hidden md:block"
      >
        <!-- <app-media-controls></app-media-controls> -->
      </div>
    </div>

    <div
      class="col-span-12 md:col-span-4 hidden md:block bg-white md:border-[1px]"
    >
      Prescription
    </div>
  </div>

  <app-bottom-nav />
</main>
