<main id="app-container" class="main">
  <div
    class="grid grid-cols-12 gap-4 bg-slate-100 p-4 box-border h-screen overflow-hidden"
  >
    <!-- Column -->
    <div
      class="col-span-12 md:col-span-3 row-span-1 bg-white border-[1px] rounded-lg md:rounded-xl"
    >
      hELLO
    </div>

    <!-- Column -->
    <div
      class="col-span-12 md:col-span-5 rounded-lg md:rounded-xl h-full overflow-hidden"
    >
      <div class="bg-white w-full h-[75%] border-[1px] relative">
        <app-remote-stream #remoteStreamsContainer></app-remote-stream>
        <app-local-stream
          *ngIf="isLocalStreamVisible"
          (leaveChannel)="handleLeaveChannel()"
        ></app-local-stream>
      </div>
      <div class="border-[1px] mt-4 bg-white h-[25%] relative">
        <!-- <app-media-controls></app-media-controls> -->
      </div>
    </div>

    <!-- Column -->
    <div
      class="col-span-12 md:col-span-4 row-span-1 bg-white border-[1px] rounded-lg md:rounded-xl"
    >
      <app-join-modal
        *ngIf="isJoinModalVisible"
        (joinChannel)="handleJoinChannel()"
      ></app-join-modal>
    </div>
  </div>
</main>

<router-outlet />
