<div class="w-full">
  <div
    class="bg-white absolute border-[6px] md:border-[10px] border-slate-100 left-1/2 bottom-[120px] md:bottom-4 z-10 items-center -translate-x-1/2 rounded-full w-[65%] md:w-[80%] md:h-[70px] h-[50px] flex gap-8 md:gap-12 justify-center"
  >
    <img
      #micButton
      (click)="handleMicToggle($event)"
      class="media-active"
      class="w-[22px] md:w-[30px] md:h-[30px] h-[22px]"
      src="/assets/mic.svg"
      alt=""
    />
    <img
      #videoButton
      (click)="handleVideoToggle($event)"
      class="media-active"
      class="w-[22px] md:w-[30px] md:h-[30px] h-[22px]"
      src="/assets/video.svg"
      alt=""
    />
    <img
      #leaveButton
      (click)="handleLeaveChannel()"
      class="media-active"
      class="w-[22px] md:w-[30px] md:h-[30px] h-[22px]"
      src="/assets/call.svg"
      alt=""
    />
  </div>
</div>

<!-- <button
#screenShareButton
(click)="handleScreenShare($event)"
class="media-active"
>
Screen
</button> -->
