<div
  class="grid grid-cols-12 gap-4 bg-slate-100 p-4 box-border h-screen overflow-hidden"
>
  <!-- Column -->
  <div
    class="col-span-12 md:col-span-3 row-span-1 bg-white border-[1px] rounded-lg md:rounded-xl"
  >
    hELLO
  </div>

  <!-- Column -->
  <div
    class="col-span-12 md:col-span-5 rounded-lg md:rounded-xl h-full overflow-hidden"
  >
    <div class="bg-white w-full h-[75%] border-[1px]">tuop</div>
    <div class="border-[1px] mt-4 bg-white h-[25%] relative">
      <div
        class="absolute bg-white border-[12px] border-slate-100 left-1/2 -top-[50px] items-center -translate-x-1/2 rounded-full w-[80%] h-[80px] flex gap-12 justify-center"
      >
        <img class="w-[30px] h-[30px]" src="/assets/mic.svg" alt="" />
        <img class="w-[30px] h-[30px]" src="/assets/video.svg" alt="" />
        <img class="w-[30px] h-[30px]" src="/assets/call.svg" alt="" />
      </div>
    </div>
  </div>

  <!-- Column -->
  <div
    class="col-span-12 md:col-span-4 row-span-1 bg-white border-[1px] rounded-lg md:rounded-xl"
  ></div>
</div>
